// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-event-card {
  background-color: yellow;
  margin: 15px;
  padding: 20px;
}

.event {
  background-color: white;
  margin: 10px;
}
